<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- <title>Título Padrão</title> -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.4/css/bulma.min.css"> 
<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<style>
    /* Estilo personalizado para os cards do menu */
    .menu-card {
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        border-radius: 10px;
        cursor: pointer;
        background-color: #fff; /* Fundo branco para os cards */
        color: #363636; /* Cor do texto */
    }

    .menu-icon {
        font-size: 2rem;
        margin-bottom: 10px;
        color: #fafafa; /* Cor dos ícones (primary) */
    }

    .regular-text {
        font-weight: normal;
    }

    .bold-text {
        font-weight: bold;
    }

    .custom-padding {
        padding: 2rem; /* Ajuste o valor conforme necessário */
    }

    .custom-offset {
        padding-left: 5rem; /* Ajuste o valor conforme necessário */
    }

    .no-offset {
        margin: 0;
        padding-right: 4.5rem;
    }

    .required {
        color: red;
        font-weight: bold;
    }

    .imageIndex img {
            margin-bottom: 0.3rem; /* Adiciona espaço abaixo da imagem */
            border-radius: 8px;
            opacity: 0.79;
    }

    .resposta-historico {
    margin-left: 10px;
    font-weight: normal;
    }

    .resultado { font-weight: bold; }
    .formulario { margin: 20px; }
    .grafico { margin: 20px auto; width: 70%; }

</style>