<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmar Exclusão</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.4/css/bulma.min.css">
</head>
<body>

    {% load static %}
    {% include 'core/partials/header.html' %}
    <section class="hero is-primary is-fullheight">
        <div class="hero-body">
            <div class="container">
                <div class="columns">
                    <div class="column">
                        <div class="card">
                            <header class="card-header">
                                <p class="card-header-title is-centered">Confirmar Exclusão</p>
                            </header>
                            <div class="card-content has-text-centered">
                                <div class="content">
                                    <p>Tem certeza que deseja excluir o paciente <strong>{{ paciente.nome }}</strong>?</p>
                                    <form method="post">
                                        {% csrf_token %}
                                        <div class="buttons is-centered">
                                            <button class="button is-danger" type="submit">Excluir</button>
                                            <a href="{% url 'paciente' paciente.id_paciente %}" class="button is-light">Cancelar</a>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>