<!DOCTYPE html>
<html class="has-navbar-fixed-top" lang="pt-BR">
<head>
    {% include 'core/partials/head.html' %}
    <title>Visualização de Consulta</title>
</head>
<body>
    {% include 'core/partials/header.html' %}
    <section class="hero is-primary is-fullheight">
        <div class="hero-body">
            <div class="container">
                {% if consulta %}
                <div class="columns">
                    <div class="column">
                        <div class="card">
                            <header class="card-header" style="position: relative;">
                                <a href="javascript:history.back()" class="card-header-icon has-text-grey" aria-label="voltar" style="position: absolute; left: 0; height: 100%;">
                                    <span class="icon">
                                    <i class="fas fa-arrow-left"></i>
                                    </span>
                                </a>

                                <p class="card-header-title is-centered">
                                    Consulta
                                </p>
                            </header>

                            <div class="card-content custom-offset">
                                <div class="content pr-5">
                                    <!-- Informações do Paciente -->
                                    <div class="field is-flex">
                                        <label class="label" style="margin-right: 0.5rem; font-weight: bold;">Nome do Paciente:</label>
                                        <span style="font-weight: normal;">{{ consulta.nome |title}}</span>
                                    </div>

                                    <div class="field is-flex">
                                        <label class="label" style="margin-right: 0.5rem; font-weight: bold;">Idade:</label>
                                        <span style="font-weight: normal;">{{ consulta.idade }}</span>
                                    </div>

                                    {% if paciente.prematuro == 'true' %}
                                        <div class="field is-flex">
                                            <label class="label" style="margin-right: 0.5rem; font-weight: bold;">Idade Corrigida:</label>
                                            <span style="font-weight: normal;">{{ paciente.idadeCorrigida }}</span>
                                        </div>
                                    {% endif %}

                                    <div class="field is-flex">
                                        <label class="label" style="margin-right: 0.5rem; font-weight: bold;">Data da Consulta:</label>
                                        <span style="font-weight: normal;">{{ consulta.dataConsulta }}</span>
                                    </div>

                                    <!-- Histórico do Paciente -->

                                    <div class="field is-flex">
                                        <label class="label" style="margin-right: 0.5rem; font-weight: bold;">Comorbidade:</label>
                                        <span style="font-weight: normal;">{{ consulta.especificacaoDoencaPrevia|upper }}</span>
                                    </div>

                                    <div class="field is-flex">
                                        <label class="label" style="margin-right: 0.5rem; font-weight: bold;">Medicamentos:</label>
                                        <span style="font-weight: normal;">{{ consulta.especificacaoMedicamentoUso|upper }}</span>
                                    </div>

                                    <div class="content has-text-justified">
                                        <strong>Histórico Gestacional:</strong>
                                        <span>{{ consulta.historicoGestacional }}</span>
                                    </div>

                                    <div class="content has-text-justified">
                                        <strong>Anamnese:</strong>
                                        <span>{{ consulta.anamnese }}</span>
                                    </div>

                                    <div class="content has-text-justified">
                                        <strong>Peso:</strong>
                                        <span>{{ consulta.peso }} kg</span>
                                    </div>

                                    <div class="content has-text-justified">
                                        <strong>Avaliação Peso:</strong>
                                        <span>{{ consulta.avaliacaoPeso }}</span>
                                    </div>

                                    <div class="content has-text-justified">
                                        <strong>Altura:</strong>
                                        <span id="estatura">{{ consulta.estatura }} cm</span>
                                    </div>

                                    <div class="content has-text-justified">
                                        <strong>Avaliação Estatura:</strong>
                                        <span>{{ consulta.avaliacaoEstatura }}</span>
                                    </div>

                                    <div class="content has-text-justified">
                                        <strong>IMC:</strong>
                                        <span>{{ consulta.imc }}</span>
                                    </div>

                                    <div class="content has-text-justified">
                                        <strong>Perímetro Cefálico:</strong>
                                        <span>{{ consulta.perimetroCefalico }} cm</span>
                                    </div>

                                    <div class="content has-text-justified">
                                        <strong>Teste do Reflexo Vermelho:</strong>
                                        <span>{{ consulta.testeReflexoVermelho }}</span>
                                    </div>

                                    <div class="content has-text-justified">
                                        <strong>Ausculta Cardíaca:</strong>
                                        <span>{{ consulta.auscultaCardiaca }}</span>
                                    </div>

                                    <div class="content has-text-justified">
                                        <strong>Frequência Cardíaca:</strong>
                                        <span>{{ consulta.frequenciaCardiaca }} bpm</span>
                                    </div>

                                    <div class="content has-text-justified">
                                        <strong>Pressão Arterial:</strong>
                                        <span>{{ consulta.pressaoArterial }}</span>
                                    </div>

                                    <div class="content has-text-justified">
                                        <strong>Ausculta Pulmonar:</strong>
                                        <span>{{ consulta.auscultaPulmonar }}</span>
                                    </div>

                                    <div class="content has-text-justified">
                                        <strong>Frequência Respiratória:</strong>
                                        <span>{{ consulta.frequenciaRespiratoria }} rpm</span>
                                    </div>

                                    <div class="content has-text-justified">
                                        <strong>Temperatura:</strong>
                                        <span>{{ consulta.temperatura }} °C</span>
                                    </div>

                                    <div class="content has-text-justified">
                                        <strong>Oroscopia:</strong>
                                        <span>{{ consulta.oroscopia }}</span>
                                    </div>

                                    <div class="content has-text-justified">
                                        <strong>Otoscopia:</strong>
                                        <span>{{ consulta.otoscopia }}</span>
                                    </div>

                                    <div class="content has-text-justified">
                                        <strong>Exame Abdominal:</strong>
                                        <span>{{ consulta.exameAbdominal }}</span>
                                    </div>

                                    <div class="content has-text-justified">
                                        <strong>Geniturinário e Pelve:</strong>
                                        <span>{{ consulta.genituPelve }}</span>
                                    </div>

                                    <div class="content has-text-justified">
                                        <strong>Avaliação de Tanner:</strong>
                                        <span>{{ consulta.tanner }}</span>
                                    </div>

                                    <div class="content has-text-justified">
                                        <strong>Exame de Membros Inferiores:</strong>
                                        <span>{{ consulta.membrosInferiores }}</span>
                                    </div>

                                    <div class="content has-text-justified">
                                        <strong>Exame de Pele e Anexos:</strong>
                                        <span>{{ consulta.pele }}</span>
                                    </div>

                                    <div class="content has-text-justified">
                                        <strong>Outros Exames:</strong>
                                        <span>{{ consulta.outrosExames }}</span>
                                    </div>

                                    <div class="content has-text-justified">
                                        <strong>Avaliação:</strong>
                                        <span>{{ consulta.avaliacao }}</span>
                                    </div>

                                    <div class="content has-text-justified">
                                        <strong>CID:</strong>
                                        <span>{{ consulta.cid }}</span>
                                    </div>

                                    <div class="content has-text-justified">
                                        <strong>Plano de Conduta:</strong>
                                        <span>{{ consulta.planoConduta }}</span>
                                    </div>
                                    <br>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% else %}
                <p class="has-text-centered">Nenhuma consulta encontrada.</p>
                {% endif %}
            </div>
        </div>
    </section>
</body>
</html>