<!DOCTYPE html>
<html lang="pt-BR">
<head>
    {% include 'core/partials/head.html' %}  
    <title>Editar Paciente</title>
</head>
<body>
    <br>
    <br>
    {% include 'core/partials/header.html' %}
    <section class="hero is-primary is-fullheight">
      <div class="hero-body">
        <div class="container">
          <div class="columns">
            <div class="column">
              <div class="card">
                <header class="card-header" style="position: relative;">
                  <a href="javascript:history.back()" class="card-header-icon has-text-grey" aria-label="voltar" style="position: absolute; left: 0; height: 100%;">
                    <span class="icon">
                      <i class="fas fa-arrow-left"></i>
                    </span>
                  </a>

                  <p class="card-header-title is-centered">
                    Editar Paciente
                  </p>
                </header>
  
                <div class="card-content">
                  <div class="content">
                    <form id="formEditarPaciente" action="{% url 'editarPaciente' paciente.id_paciente %}" method="post">
                        {% csrf_token %}
  
                        <div class="field">
                            <label class="label" for="nome">Nome do Paciente: <span class="required">*</span></label>
                            <div class="control">
                              <input class="input" type="text" id="nome" name="nome" value="{{ paciente.nome|title }}" required>
                            </div>
                        </div>
                          
                        <div class="columns">
                            <div class="column is-one-third">
                                <div class="field">
                                    <label class="label" for="data_nascimento">Data de Nascimento: <span class="required">*</span></label>
                                    <div class="control">
                                        <input class="input" type="date" id="data_nascimento" name="data_nascimento" value="{{ paciente.data_nascimento|date:'Y-m-d' }}">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="columns">
                            <div class="column is-one-third">
                                <div class="field">
                                    <label class="label">É Prematuro:</label>
                                    <div class="control">
                                        <label class="radio">
                                            <input type="radio" name="prematuro" value="true" id="prematuroSim" 
                                                  {% if paciente.prematuro == 'true' %}checked{% endif %}>
                                            Sim
                                        </label>
                                        <label class="radio">
                                            <input type="radio" name="prematuro" value="false" id="prematuroNao" 
                                                  {% if paciente.prematuro == 'false' %}checked{% endif %}>
                                            Não
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="columns" id="campos-prematuro" >
                            <div class="column is-one-third">
                                <div class="field is-flex">
                                    <label class="label mr-2">Nasceu com quantas semanas:</label>
                                    <input class="input" type="number" name="semanasCorrigidas" style="width: 60px; height: 25px;" min="22" max="40" value="{{ paciente.semanasCorrigidas|default_if_none:'' }}">
                                </div>
                            </div>

                            <div class="column is-one-third" style="margin-top: -1rem;">
                                <div class="field is-flex">
                                    <label class="label mr-2">Nasceu com quantos dias:</label>
                                    <input class="input" type="number" name="diasCorrigidos" style="width: 60px; height: 25px;" min="0" max="6" value="{{ paciente.diasCorrigidos|default_if_none:'' }}">
                                </div>
                            </div>
                        </div>
                          
                        <div class="columns">
                            <div class="column is-one-third">
                                <div class="field">
                                    <label class="label" for="sexo">Sexo: <span class="required">*</span></label>
                                    <div class="control">
                                        <div class="select">
                                            <select id="sexo" name="sexo">
                                            <option value="" hidden>Selecione o sexo</option>
                                            <option value="masculino" {% if paciente.sexo == "masculino" %}selected{% endif %}>Masculino</option>
                                            <option value="feminino" {% if paciente.sexo == "feminino" %}selected{% endif %}>Feminino</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                          
                            <div class="column is-one-third">
                                <div class="field">
                                    <label class="label" for="tipo_sanguineo">Tipo Sanguíneo:</label>
                                    <div class="control">
                                        <div class="select">
                                            <select id="tipo_sanguineo" name="tipo_sanguineo">
                                            <option value="" hidden>Selecione o tipo sanguíneo</option>
                                            <option value="a+" {% if paciente.tipo_sanguineo == "a+" %}selected{% endif %}>A+</option>
                                            <option value="a-" {% if paciente.tipo_sanguineo == "a-" %}selected{% endif %}>A-</option>
                                            <option value="b+" {% if paciente.tipo_sanguineo == "b+" %}selected{% endif %}>B+</option>
                                            <option value="b-" {% if paciente.tipo_sanguineo == "b-" %}selected{% endif %}>B-</option>
                                            <option value="ab+" {% if paciente.tipo_sanguineo == "ab+" %}selected{% endif %}>AB+</option>
                                            <option value="ab-" {% if paciente.tipo_sanguineo == "ab-" %}selected{% endif %}>AB-</option>
                                            <option value="o+" {% if paciente.tipo_sanguineo == "o+" %}selected{% endif %}>O+</option>
                                            <option value="o-" {% if paciente.tipo_sanguineo == "O-" %}selected{% endif %}>O-</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                          
                        <div class="columns">
                            <div class="column is-one-third">
                                <div class="field">
                                    <label class="label" for="cpf">CPF do Paciente:</label>
                                        <div class="control">
                                        <input class="input" type="text" id="cpf" name="cpf" maxlength="14" value="{{ paciente.cpf }}">
                                        </div>
                                </div>
                            </div>
                          
                            <div class="column is-one-third">
                                <div class="field">
                                    <label class="label" for="rg">RG do Paciente: <span class="required">*</span></label>
                                    <div class="control">
                                    <input class="input" type="text" id="rg" name="rg" maxlength="12" value="{{ paciente.rg }}" required>
                                    </div>
                                </div>
                            </div>
                        </div>

                          <br>
                          <p class="card-header-title is-centered">Responsável</p>

                        <div class="field">
                            <label class="label" for="responsavel">Nome do Responsável: <span class="required">*</span></label>
                            <div class="control">
                              <input class="input" type="text" id="responsavel" name="responsavel" value="{{ paciente.responsavel|title }}" required>
                            </div>
                        </div>
                          
                        <div class="columns">
                            <div class="column is-one-third">
                              <div class="field">
                                <label class="label" for="cpf_responsavel">CPF do Responsável: <span class="required">*</span></label>
                                <div class="control">
                                  <input class="input" type="text" id="cpf_responsavel" name="cpf_responsavel" maxlength="14" value="{{ paciente.cpf_responsavel }}" required>
                                </div>
                              </div>
                            </div>
                          
                            <div class="column is-one-third">
                              <div class="field">
                                <label class="label" for="rg_responsavel">RG do Responsável: <span class="required">*</span></label>
                                <div class="control">
                                  <input class="input" type="text" id="rg_responsavel" name="rg_responsavel" maxlength="12" value="{{ paciente.rg_responsavel }}" required>
                                </div>
                              </div>
                            </div>
                        </div>
                          
                        <div class="field">
                            <label class="label" for="telefone">Telefone: <span class="required">*</span></label>
                            <div class="control">
                              <input class="input" type="tel" id="telefone" name="telefone" maxlength="15" value="{{ paciente.telefone }}" required>
                            </div>
                        </div>
                          
                        <div class="field">
                            <label class="label" for="endereco">Endereço: <span class="required">*</span></label>
                            <div class="control">
                              <textarea class="textarea" id="endereco" name="endereco" required>{{ paciente.endereco }}</textarea>
                            </div>
                        </div>

                         <br>
                        
                        <div class="field is-grouped" style="justify-content: flex-end; gap: 0.5rem;">
                          <button class="button is-success"  type="submit">
                              <span class="icon is-small">
                              <i class="fas fa-check"></i>
                              </span>
                              <span>Salvar</span>
                          </button>

                          <button class="button is-danger is-outlined"  type="button" onclick="window.history.back();">
                              <span>Cancelar</span>
                              <span class="icon is-small">
                              <i class="fas fa-times"></i>
                              </span>
                          </button>
                        </div>
                      </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
<script>

// --- 1. Lógica dos campos de Prematuro (igual ao cadastro) ---
document.addEventListener('DOMContentLoaded', function() {
    const radioPrematuroSim = document.getElementById('prematuroSim');
    const radioPrematuroNao = document.getElementById('prematuroNao');
    const camposPrematuro = document.getElementById('campos-prematuro');

    function toggleCamposPrematuro() {
        if(camposPrematuro && radioPrematuroSim){
            camposPrematuro.style.display = radioPrematuroSim.checked ? 'block' : 'none';
        }
        
        // Limpar campos quando ocultar (Opcional, mas recomendado na edição se mudar para não)
        if (radioPrematuroSim && !radioPrematuroSim.checked) {
            const sem = document.querySelector('input[name="semanasCorrigidas"]');
            const dias = document.querySelector('input[name="diasCorrigidos"]');
            if(sem) sem.value = '';
            if(dias) dias.value = '';
        }
    }

    if (radioPrematuroSim && radioPrematuroNao && camposPrematuro) {
        radioPrematuroSim.addEventListener('change', toggleCamposPrematuro);
        radioPrematuroNao.addEventListener('change', toggleCamposPrematuro);
        toggleCamposPrematuro(); // Inicializa estado ao carregar
    }
});

// --- 2. Funções de Validação de CPF ---

// Remove pontuação para limpar o valor
function limparFormatacao(valor) {
    return valor.replace(/\D/g, '');
}

// Formata para enviar ao alerta (se necessário)
function formatarCPF(cpf) {
    cpf = limparFormatacao(cpf);
    return cpf.replace(/(\d{3})(\d{3})(\d{3})(\d{2})/, '$1.$2.$3-$4');
}

// Algoritmo matemático de validação
function validarCPF(cpf) {
    cpf = limparFormatacao(cpf);
    if (cpf.length !== 11 || /^(\d)\1{10}$/.test(cpf)) {
        return false;
    }
    let soma = 0;
    let resto;
    for (let i = 1; i <= 9; i++) {
        soma += parseInt(cpf.substring(i - 1, i)) * (11 - i);
    }
    resto = (soma * 10) % 11;
    if ((resto === 10) || (resto === 11)) {
        resto = 0;
    }
    if (resto !== parseInt(cpf.substring(9, 10))) {
        return false;
    }
    soma = 0;
    for (let i = 1; i <= 10; i++) {
        soma += parseInt(cpf.substring(i - 1, i)) * (12 - i);
    }
    resto = (soma * 10) % 11;
    if ((resto === 10) || (resto === 11)) {
        resto = 0;
    }
    return resto === parseInt(cpf.substring(10, 11));
}

// Verificação assíncrona (AJAX) - Igual ao cadastro
async function validarCPFUnico(cpf) {
    try {
        const response = await fetch(`/verificar_cpf/?cpf=${cpf}`);
        const data = await response.json();
        // Retorna true se NÃO existe (único), false se já existe
        return !data.cpf_existe; 
    } catch (e) {
        console.error("Erro ao verificar CPF único", e);
        return true; // Na dúvida, deixa passar ou trata o erro
    }
}

// --- 3. Inicialização e Controle do Formulário ---

function inicializarValidacaoEdicao() {
    const form = document.getElementById('formEditarPaciente');
    if (!form) return;

    const nomePacienteInput = document.getElementById('nome');
    const nomeResponsavelInput = document.getElementById('responsavel');
    const dataNascimentoInput = document.getElementById('data_nascimento');
    const cpfInput = document.getElementById('cpf');
    const cpfResponsavelInput = document.getElementById('cpf_responsavel');

    // Armazena valores originais para permitir salvar se o usuário não alterou o CPF
    const cpfOriginalPaciente = limparFormatacao(cpfInput.value);
    
    // Bloquear números nos campos de nome
    function removerNumeros(e) {
        e.target.value = e.target.value.replace(/[0-9]/g, '');
    }
    if (nomePacienteInput) nomePacienteInput.addEventListener('input', removerNumeros);
    if (nomeResponsavelInput) nomeResponsavelInput.addEventListener('input', removerNumeros);

    // --- LÓGICA DE SUBMISSÃO CORRIGIDA ---
    form.addEventListener('submit', async function (event) {
        // 1. BLOQUEIA O ENVIO IMEDIATAMENTE
        // Isso impede que o formulário seja enviado enquanto o JavaScript "pensa"
        event.preventDefault(); 

        let temErro = false; // Flag para controlar se houve erro

        // 2. Validação de Data
        const hoje = new Date();
        const dataNascimento = new Date(dataNascimentoInput.value);
        if (dataNascimento > hoje) {
            alert('A data de nascimento não pode ser superior ao dia de hoje.');
            dataNascimentoInput.focus();
            temErro = true;
        }

        if (temErro) return; // Se já falhou, para aqui.

        // 3. Validação CPF do Paciente
        let cpfFormatado = '';
        if (cpfInput.value.trim()) {
            cpfFormatado = formatarCPF(cpfInput.value);
            
            // Validação Matemática
            if (!validarCPF(cpfFormatado)) {
                alert('CPF do paciente inválido.');
                cpfInput.focus();
                return;
            }

            // Validação de Unicidade (Só checa se mudou o CPF)
            const cpfAtualLimpo = limparFormatacao(cpfInput.value);
            if (cpfAtualLimpo !== cpfOriginalPaciente) {
                const cpfValido = await validarCPFUnico(cpfFormatado);
                if (!cpfValido) {
                    alert('Este CPF de paciente já está cadastrado em outro registro.');
                    return;
                }
            }
        }

        // 4. Validação CPF Responsável (Obrigatório e Crítico)
        const cpfResponsavelFormatado = formatarCPF(cpfResponsavelInput.value);
        
        // Validação Matemática
        if (!validarCPF(cpfResponsavelFormatado)) {
            alert('CPF do responsável inválido.');
            cpfResponsavelInput.focus();
            return; // Impede de continuar
        }

        // 5. Comparação Paciente x Responsável
        if (cpfFormatado && cpfFormatado === cpfResponsavelFormatado) {
            alert('O CPF do paciente não pode ser igual ao CPF do responsável.');
            return;
        }

        // 6. SE CHEGOU AQUI, TUDO ESTÁ VÁLIDO.
        // Dispara o envio manual do formulário
        form.submit();
    });
}

// --- 4. Inicializar Máscaras e Scripts ---
$(document).ready(function() {
    $('#cpf').mask('000.000.000-00', {reverse: true});
    $('#cpf_responsavel').mask('000.000.000-00', {reverse: true});
    $('#rg').mask('00.000.000', {reverse: true});
    $('#rg_responsavel').mask('00.000.000', {reverse: true});
    $('#telefone').mask('(00) 0 0000-0000');
    
    // Inicia a validação lógica
    inicializarValidacaoEdicao();
});
</script>
</body>
</html>