<!DOCTYPE html>
<html lang="pt-BR">
<head>
    {% include 'core/partials/head.html' %}
    <title>Listagem de Pacientes</title>
</head>
<body>
    {% include 'core/partials/header.html' %}
    <br>
    <br>
    <section class="hero is-primary is-fullheight">
        <div class="hero-body">
            <div class="container">
                <div class="columns">
                    <div class="column">
                        <div class="card" id="buscar-paciente-card">
                            <header class="card-header">
                                <p class="card-header-title is-centered">Visualizar Pacientes</p>
                            </header>
                            <div class="card-content">
                                <div class="content">
                                    {% if messages %}
                                    <div id="alert-mensagem">
                                    {% for message in messages %}
                                        <div class="notification is-success">
                                        {{ message }}
                                        </div>
                                    {% endfor %}
                                    </div>
                                    {% endif %}
                                    <label class="label">Paciente:</label>
                                    <form method="get" class="mb-4">
                                        <div class="field has-addons">
                                            <div class="control">
                                                <input class="input" type="text" name="nome" placeholder="Digite o nome do paciente" value="{{ request.GET.nome}}">
                                            </div>
                                            <div class="control">
                                                <button class="button is-primary" type="submit">Buscar</button>
                                            </div>
                                        </div>
                                    </form>
                        
                                    <!-- Tabela de Pacientes -->
                                    <table class="table is-striped is-hoverable">
                                        <thead>
                                            <tr>
                                                <th>Nome</th>
                                                <th>CPF do Responsável</th>
                                                <th>Data de Nascimento do Paciente</th>
                                                <th>Ações</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for paciente in pacientes %}
                                            <tr>
                                                <td>
                                                    <strong> {{ paciente.nome|title }} </strong>
                                                    <br>
                                                    <small class="has-text-grey">
                                                        Responsável: {{ paciente.responsavel|title|default:"Não informado" }}
                                                    </small>
                                                </td>
                                                <td>{{ paciente.cpf_responsavel }}</td>
                                                <td>{{ paciente.data_nascimento|date:"d/m/Y" }}</td>
                                                <td>
                                                    <a href="{% url 'paciente' paciente.id_paciente %}" class="button is-small is-info" name="botao_listas">Visualizar</a>
                                                </td>
                                            </tr>
                                            {% empty %}
                                            <tr>
                                                <td colspan="4" class="has-text-centered">Nenhum paciente encontrado.</td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>

                                    <nav class="pagination is-centered" role="navigation" aria-label="pagination">
                                        {% if pacientes.has_previous %}
                                            <a class="pagination-previous" href="?page={{ pacientes.previous_page_number }}{% if request.GET.nome %}&nome={{ request.GET.nome }}{% endif %}">Anterior</a>
                                        {% else %}
                                            <a class="pagination-previous" disabled>Anterior</a>
                                        {% endif %}
                                        {% if pacientes.has_next %}
                                            <a class="pagination-next" href="?page={{ pacientes.next_page_number }}{% if request.GET.nome %}&nome={{ request.GET.nome }}{% endif %}">Próxima</a>
                                        {% else %}
                                            <a class="pagination-next" disabled>Próxima</a>
                                        {% endif %}
                                        <ul class="pagination-list">
                                            {% for num in pacientes.paginator.page_range %}
                                                {% if pacientes.number == num %}
                                                    <li><a class="pagination-link is-current">{{ num }}</a></li>
                                                {% else %}
                                                    <li><a class="pagination-link" href="?page={{ num }}{% if request.GET.nome %}&nome={{ request.GET.nome }}{% endif %}">{{ num }}</a></li>
                                                {% endif %}
                                            {% endfor %}
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
<script>
    setTimeout(function() {
      var alerta = document.getElementById('alert-mensagem');
      if (alerta) {
        alerta.style.display = 'none';
      }
    }, 5000); // 5000 ms = 5 segundos
</script>
</body>
</html>